.home-page {
  background-color: #f9f9f9;
  padding: 2rem 0;
}

.welcome-section {
  margin-bottom: 2rem;
}

.button-container {
  margin-bottom: 2rem;
  text-align: center;
}

.about-link {
  text-decoration: none;
}

.view-more-button {
  margin-top: 1rem;
}
