/* shop.css */

.setup-container {
  margin: 0 auto;
  max-width: 1200px;
}

.crop-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.crop-card {
  max-width: 345px;
  margin: 1rem;
}

.crop-image {
  width: 100%;
  height: auto;
}

.crop-details {
  text-align: left;
}

.add-to-cart-button {
  margin-top: 1rem;
}

.view-more-button,
.register-crop-button {
  text-align: center;
  margin-top: 2rem;
}
